[Unit]
Description=ACIT4640 TodoApp
After=network.target

[Service]
Environment=NODE_PORT={{ port }}
WorkingDirectory=/home/{{ user }}/app
Type=simple
User={{ user }}
ExecStart=/usr/bin/node /home/{{ user }}/app/server.js
Restart=always

[Install]
WantedBy=multi-user.target