#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Use CDROM installation media
url --url="http://192.168.250.200/centos/"
# Use graphical install
text
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=static --device=enp0s3 --gateway=192.168.250.1 --ip=192.168.250.10 --nameserver=8.8.8.8 --netmask=255.255.255.0 --ipv6=auto --activate
network  --hostname=localhost.bcit.local


# Root password
rootpw --iscrypted $6$i5RbEJgzTV.hAIYr$IRDTKsaiB3gi.pFehVNo4L5Ak4NfAUz3nVwembV5XV9h/in9C.VRC8SDgAdpXV4mV64M.FwZE1YYojIf5O8B31
# System services
services --enabled="chronyd"
# System timezone
timezone America/Vancouver --isUtc --nontp
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
autopart --type=lvm
# Partition clearing information
clearpart --none --initlabel

%packages
@^minimal
@core
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end

%post --interpreter=/usr/bin/bash
# post installation todo-app-setup.sh

    yum -y install epel-release vim wget git tcpdump curl net-tools bzip2
	yum -y update

    useradd -m admin
	echo "admin:P@ssw0rd" | chpasswd
	usermod -aG wheel admin

    mkdir /home/admin/.ssh/
    chown -R admin:admin /home/admin/.ssh/
    wget http://192.168.250.200/authorized_keys.pub -o /home/admin/.ssh/authorized_keys.pub

	wget http://192.168.250.200/files -O /etc/sudoers
	chown root:root /etc/sudoers
	chmod 440 /etc/sudoers

    firewall-offline-cmd --zone=public --add-service=http
    firewall-offline-cmd --zone=public --add-service=https
    firewall-offline-cmd --zone=public --add-service=ssh
    firewall-offline-cmd --runtime-to-permanent
    

    setenforce 0
    sed -r -i 's/SELINUX=(enforcing|disabled)/SELINUX=permissive/' /etc/selinux/config

    useradd -m -r todo-app && passwd -l todo-app
	yum -y install nodejs npm
	yum -y install mongodb-server
	systemctl enable mongod && systemctl start mongod

    mkdir -p /home/todo-app/app
	git clone https://github.com/timoguic/ACIT4640-todo-app.git /home/todo-app/app
	cd /home/todo-app/app && npm install
	wget http://192.168.250.200/files/database.js -O /home/todo-app/app/config/database.js
	chown -R todo-app /home/todo-app/app

    chmod a+rx /home/todo-app
	mkdir /etc/nginx
    yum -y install nginx
	wget http://192.168.250.200/files/nginx.conf -O /etc/nginx/nginx.conf
	systemctl enable nginx && systemctl start nginx
	wget http://192.168.250.200/files/todoapp.service -O /lib/systemd/system/todoapp.service
	systemctl daemon-reload
start_app() {
    systemctl enable todoapp
	systemctl start todoapp
    #Got error start request repeated too many time
    #Sometime there's no error, sometime there is
    systemctl reset-failed todoapp
    systemctl start todoapp
}
start_app
%end

reboot